.article{
	margin: 2.5em 0em;
	font-size: 1.2em;
	line-height: 1.45em;
	overflow: auto;
}

.article-heading{
	font-size: 1.5em;
	line-height: 1.25em;
	font-weight: bold;
	color: $accent-color;
}

.article h2 a{
	text-decoration: none;
}

.article h3{
	color: #333;
	margin-bottom: 1em;
	font-weight: bold;
}

.article .article-meta{
	font-weight: normal;
    font-style: normal;
}

.article p.article-date{
	color: #aaa;
	margin-bottom: 2em;
	margin-top: .2em;
	font-size: 0.83333333333333em;
	font-weight: 100;
	font-style: italic;
}

.article p.more{
	margin-top: 2em;
	font-style: italic;
}

.article-heading span{
	color: #333;
}

.article-timestamp {
    color: #999;
    font-style: italic;
}

blockquote{
	border-left: 5px solid #eee;
	padding-left: 2em;
}

.article p,
.article ul{
	margin: .5em 0em;
}